.header{
    background-image: linear-gradient(rgba(83, 130, 192, 0.3), rgba(83, 130, 192, 0.3)), url(../images/Header.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 20% 30% 10% 10%;
    grid-template-columns: 15% 60% 25%;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 10vw;
}

.logo{
    font-size: 4vh;
    justify-self: start;
}

ul{
    list-style-type: none;
}

.horiz-list{
    display: grid;
    grid-template: 1fr/ repeat(5, fit-content(90px));
    justify-content: space-evenly;
    padding-left: 0px;
}

a{
    text-decoration: none;
}

.font-white{
    color: white;
    font-family: 'Inter', 'Roboto', sans-serif;
}

.reg-log{
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    height: 10vh;
    align-items: center;
}

.moto{
    grid-area: 2/ 1/ 3/4;
    font-size: 8vh;
}

.starting-words{
    grid-area: 3/1/4/3;
}

.get-started{
    grid-area: 4/1/5/2;
    display: block;
    width: 130px;
    height: 60px;
    background-color: rgba(212, 211, 211, 0.267);
    text-align: center;
    line-height: 60px;
}

.grid-one{
    display: grid;
    height: 100vh;
    grid-template: 1fr 3fr 5fr/ 30% 30% 30%;
    justify-content: space-between;
    padding:4vh 8vw 0 13vh;
}

.font-blue{
    color: #2A97DF;
    font-size: 2vh;
    font-family: 'Inter', 'Roboto', sans-serif;
}

.popular{
    grid-area: 1/1/2/4;
    align-self: flex-end;
}

.font-dark-blue{
    color: #284152;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 4.5vh;
}

.popular-text{
    grid-area: 2/2/3/4;
}

.font-grey{
    color: #60707B;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: 500;
}

.popular-pictures{
    grid-area: 3/1/4/4;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.images{
    width: 25vw;
}

.about-us{
    display: grid;
    grid-template: 1fr repeat(3, 2fr) 3fr/ 1fr 1fr;
    justify-content: space-between;
    padding: 19vh 8vw 0 13vh;
}

.beach-img{
    grid-area: 1/1/6/2;
    width: 40vw;
}

.fake-buttons{
    background-color: #2A97DF;
    height: 12vh;
    width: 10vw;
    text-align: center;
    vertical-align: middle;
    line-height: 12vh;
    font-size: larger;
}

.numbers{
    display: grid;
    height: 20vh;
    width: 30vw;
    grid-template: 50% 50%/ repeat(3, 1fr);
    align-content: center;
}

.dark-numbers{
    color: #284152;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 4.5vh;
    font-weight: 600;
}

.our-service{
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr/repeat(4, 20%);
    height: 40vh;
    padding: 19vh 8vw 0 13vh;
    justify-content: space-around;
}

.service-heading{
    grid-area: 1/1/2/5;
    margin-bottom: 70px;
}

.font-dark-small{
    color: #284152;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 2vh;
}

.special-offer{
    display: grid;
    padding: 25vh 7vw 8vh 15vh;
    grid-template: 1fr repeat(2, 2fr) 1fr/ repeat(2, 1fr) 2fr;
    height: 80vh;
    align-items: center;
}

.spec-head{
    grid-area: 1/1/2/3;
}

.spec-moto{
    grid-area:2/1/3/3;
}

.special-offer-image{
    grid-area: 1/3/4/4;
    max-width: 100%;
}
.price{
    font-weight: 600;
}

.spec-text{
    grid-area: 3/1/4/3;
    align-self: flex-start;
    max-height: 100%;
}

.footer{
    background-color: #082335;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding:10vh 8vw 0 8vh;
    justify-content: space-between;
}

.lakoni-footer{
    max-width: 45vw;
}

.numbers{
    display: none;
}

.font-white-footer{
    color: white;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: larger;
    margin-left: 40px;
}

.font-grey-footer{
    color: #bbbbbb;
    font-family: 'Inter', 'Roboto', sans-serif;
}

.footer li{
    margin-bottom: 10px;
}

@media(max-width: 450px){
    .horiz-list{
        display: none;
    }

    .header{
        background-image: linear-gradient(rgba(83, 130, 192, 0.3), rgba(83, 130, 192, 0.3)), url(../images/Header.png);
        background-size: cover;
        display: grid;
        grid-template-rows: 20% 35% 20% 10%;
        grid-template-columns: 15% auto 50%;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0%;
    }

    .grid-one{
        padding: 5% 2%;
    }

    .about-us{
        padding: 5% 2%;
    }

    .our-service{
        padding: 5% 2%;
    }

    .special-offer{
        padding: 5% 2%;
    }

    .grid-one{
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
        justify-content: space-between;
    }

    .little-words{
        display: none;
    }

    .images{
        width: 95%;
    }

    .about-us{
        display: flex;
        flex-wrap: wrap;
    }

    .beach-img{
        width: 50vw;
    }

    .to-right{
        max-width: 45vw;
    }

    .our-service{
        display: none;
    }

    .fake-buttons{
        height: 8vh;
        line-height: 8vh;
        width: fit-content;
    }

    .special-offer{
        display: flex;
        flex-wrap: wrap;
        height: 110vh;
        justify-content: center;
    }

    .special-offer-image{
        max-width: 80%;
    }
    
    .footer{
        padding: 2%;
    }
}

@media(min-width:451px) and (max-width:1000px){

    .header{
        padding-left: 5%;
    }

    .grid-one{
        padding: 5% 2%;
    }

    .about-us{
        padding: 5% 2%;
    }

    .our-service{
        padding: 5% 2%;
    }

    .special-offer{
        padding: 5% 2%;
    }

    .fake-buttons{
        width: 13vw;
        height: 7vh;
        line-height: 7vh;
    }

    .grid-one{
        grid-template: 1fr 3fr 3fr/ 30% 30% 30%;
        height: 70%;
    }

    .about-us{
        display: flex;
        flex-wrap: wrap;
    }


    .little-words{
        height: fit-content;
    }

    .to-right{
        display: inline;
        max-width: 70vw;
    }

    .price{
        grid-area: 4/1/5/3;
    }

    .button-booknow{
        grid-area: 4/3/5/4;
    }

    .footer{
        padding:5% 5%;
        justify-content: start;
    }
}